# Store the input, and processed directories, but not their files
input/*
!input/.gitkeep

processed/*
!processed/.gitkeep

output/*
!output/.gitkeep

.env

# If you want to use a custom image you can place it at this path
src/background-override.png
